<div id="drink-carousels" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#drink-carousels" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#drink-carousels" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#drink-carousels" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://cdn7.kiwilimon.com/recetaimagen/2759/640x426/th5-640x426-11961.jpg.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Taylor Sweet Latte</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://miro.medium.com/max/300/0*fPTEz59Hm4ykI0R2.jpg
      " class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Justin Beiber Frap</h5>
        
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3MgK9BJb8xQZkluSjy8uRRiseYCdJvJzNjQ&usqp=CAU" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Vayne Chocolate</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#drink-carousels" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#drink-carousels" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
