<div id="drink-carousels" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#drink-carousels" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#drink-carousels" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#drink-carousels" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000" id="25">
      <img src="https://globalassets.starbucks.com/assets/3eab25199e994b689fa5c047fc31f217.jpg?impolicy=1by1_wide_topcrop_630" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Peppermint Mocha</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000" id="98">
      <img src="https://globalassets.starbucks.com/assets/a5e64777b3cc412e9239b8a37328cb37.jpg?impolicy=1by1_wide_topcrop_630" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Honey Citrus Mint Tea</h5>
        
      </div>
    </div>
    <div class="carousel-item" id="142">
      <img src="https://globalassets.starbucks.com/assets/e2ffa95d3c364d94b5dba029263bbf0e.jpg?impolicy=1by1_wide_topcrop_630" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Chocolaty Chip Crème Frappe</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#drink-carousels" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#drink-carousels" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
