<!-- Use user percentages linked with ID-->

<div class="flavorProfile">
    <h1>
      Your Flavor Profile
    </h1>
  <p>Refreshing</p>
      <div class="flavorStats">
          <div class="flavors refreshing">90%</div>
      </div>
  
  <p>Tropical</p>
      <div class="flavorStats">
          <div class="flavors tropical">80%</div>
      </div>
  
  <p>Spicy</p>
      <div class="flavorStats">
          <div class="flavors spicy">65%</div>
      </div>
  
  <p>Nutty</p>
      <div class="flavorStats">
          <div class="flavors nutty">60%</div>
      </div>
  </div>