<!-- Use user percentages linked with ID-->

<div class="flavorProfile">
    <h1>
      Your Flavor Profile
    </h1>
  <p>Refreshing</p>
      <div class="flavorStats">
          <div class="flavors refreshing" style="width:25%">25%</div>
      </div>
  
  <p>Tropical</p>
      <div class="flavorStats">
          <div class="flavors tropical" style="width:56%">56%</div>
      </div>
  
  <p>Spicy</p>
      <div class="flavorStats">
          <div class="flavors spicy" style="width:80%">80%</div>
      </div>
  
  <p>Nutty</p>
      <div class="flavorStats">
          <div class="flavors nutty" style="width:15%">15%</div>
      </div>
  </div>