{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" 
        href="{{ url_for('static', filename='css/friends.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{% endblock %}

{% block body %}

<header class=container>
    <h1>Friends List</h1>
</header>

<div class="subhead-container">
    <div class=material-icons>
        account_circle
    </div>
    Brian Ames
</div>

<div class="subhead-container">
    <div class=material-icons>
        account_circle
    </div>
    Bob Rapp
</div>

<div class="subhead-container">
    <div class=material-icons>
        account_circle
    </div>
    Parker Jones
</div>

<div class="subhead-container">
    <div class=material-icons>
        account_circle
    </div>
    Amanda Tebo
</div>

<div class="subhead-container">
    <div class=material-icons>
        account_circle
    </div>
    George Athans
</div>

<div class="subhead-container">
    <div class=material-icons>
        account_circle
    </div>
    Vito Luong
</div>

<div class="subhead-container">
    <div class=material-icons>
        account_circle
    </div>
    Joshua Steiner
</div>

<div class="subhead-container">
    <div class=material-icons>
        account_circle
    </div>
    Mathew Dela Cruz
</div>

{% endblock %}