{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" 
        href="{{ url_for('static', filename='css/index.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{% endblock %}

{% block body %}
<!-- Moved header to base 
<div class="nav-container">
    <div>Sign out</div>
    <div class="material-icons">
        account_circle
        </div>        
</div>
-->

<h1>Welcome Back, User!</h1>

<!-- drink img carousel -->
<div class="drinks-container">
    {% include 'drink-slider.html' %}
</div>

<div class="recommendation-container">
    <div class="recommendation">
        Good Morning! Looking to order your usual?
    </div>
</div>

<!-- Flavor Profile -->
<div class="flavor-container">
    {% include 'flavor-profile.html' %}
</div>

<!-- 
<div class=extras-container>
    <div id="drink-submit-button">Customer recipes submit button</div>
    <div id="extra">Extra stuff</div>
</div>

<div class="bottom-container">
    <div id="voice-recognition-button">Voice Regconition Here</div>
</div>
-->


{% endblock %}