{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" 
        href="{{ url_for('static', filename='css/index.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{% endblock %}

{% block body %}
<div class="nav-container">
    <div>Sign out</div>
    <div class="material-icons">
        account_circle
        </div>        
</div>

<div class="drinks-container">
    {% include 'drink-slider.html' %}
</div>

<div class=extras-container>
    <div id="drink-submit-button">Customer recipes submit button</div>
    <div id="extra">Extra stuff</div>
</div>

<div class="bottom-container">
    <div id="voice-recognition-button">Voice Regconition Here</div>
</div>



{% endblock %}