{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" 
        href="{{ url_for('static', filename='css/order.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}

<div class="drinkNavbar">
    <a href="#menu">Menu</a>
    <a href="#saved">Saved Orders</a>
    <a href="#recent">Recent</a>
    <a href="#favorite">Favorites</a>
</div>

<div class="drinklist-container">
    
    <!-- scrolling anchor -->
    <a id="menu"></a>
    
    <h>Menu</h>

    <!--drink catalog menu-->
    {% for cat in drinkCat_dic: %}
    <div>
        <div class="category">
            {{cat}} <i class="fa fa-caret-down"></i>
        {% for subcat in drinkCat_dic[cat] %}

            <ul class="subcategory">
                {{subcat}}
                {% for item in drinkCat_dic[cat][subcat] %}
                
                    <div class="items">
                        <li><a id="{{item.id}}" onclick="dropFunction(this.id)" class="dropbtn">{{item.name}}</a></li>
                    </div>
                    <div id="drop{{item.id}}" class="dropdown-content">
                        <form action="{{url_for('addItem')}}" method="post" id ="drink-form">
                            <button type="submit" name="drink-id" value="{{item.id}}">Add to Order</button>
                        </form>
                        <form action="" method="post" id ="drink-form">
                            <button type="submit" name="customize-drink" value="{{item.id}}">Customize</button>
                        </form>
                    </div>
               
                {% endfor %}
            </ul>
        {% endfor %}
        </div>
    </div>
    {% endfor %}

    <!-- scrolling anchor -->
    <a id="saved"></a>

    <div>
        <h>Saved Orders</h>
        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Bob's Breakfast
            <span>Price: 3.65</span>
            <div class = actions>
                <a>Add To Cart</a>
                <a href="">Customize</a>
                <a>Remove</a>
            </div>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/f24b2303e7734e82852d9132ce604e25.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Mocha">
            Kim Kardashian Mocha Venti 24oz
            <span>Price: 4.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Oprah Winfrey Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>
    </div>

    <!-- scrolling anchor -->
    <a id="recent"></a>

    <div>
        <h>Recent Drinks</h>
        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Taylor Swift Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/f24b2303e7734e82852d9132ce604e25.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Mocha">
            Kim Kardashian Mocha Venti 24oz
            <span>Price: 4.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Oprah Winfrey Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>
    </div>

    <!-- scrolling anchor -->
    <a id="favorite"></a>

    <div>
        <h>Your Favorites</h>
        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Taylor Swift Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/f24b2303e7734e82852d9132ce604e25.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Mocha">
            Kim Kardashian Mocha Venti 24oz
            <span>Price: 4.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Oprah Winfrey Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>
    </div>

</div>

<script>
    //dropdown script function for categrories
    $('.category').click(function(event){
    
    var isDim = $(event.target).is('.category');
    if(isDim){ //make sure I am a dim element
        $('.subcategory', this).toggle("fast"); // p00f
    }
    });

    function dropFunction(clicked_id) {
        document.getElementById("drop" + clicked_id).classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
                }
            }
        }
    }

    function addToCartSubmit(){
        document.getElementById('drink-form').submit()
    }

</script>
{% endblock %}