{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" 
        href="{{ url_for('static', filename='css/order.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{% endblock %}

{% block body %}

<div class="drinkNavbar">
    <a href="#menu">Menu</a>
    <a href="#saved">Saved Orders</a>
    <a href="#recent">Recent</a>
    <a href="#favorite">Favorites</a>
</div>

<div class="drinklist-container">
    
    <!-- scrolling anchor -->
    <a id="menu"></a>

    <div>
        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Taylor Swift Latte Grande 16oz
            <span>Price: 3.65</span>
            <div class = actions>
                <a>Add To Order</a>
                <a href="{{ url_for('customization') }}">Customize</a>
                </div>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/f24b2303e7734e82852d9132ce604e25.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Mocha">
            Kim Kardashian Mocha Venti 24oz
            <span>Price: 4.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Oprah Winfrey Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>
    </div>

    <!-- scrolling anchor -->
    <a id="saved"></a>

    <div>
        <h>Saved Orders</h>
        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Bob's Breakfast
            <span>Price: 3.65</span>
            <div class = actions>
                <a>Add To Order</a>
                <a href="{{ url_for('submit') }}">Customize</a>
                <a>Remove</a>
            </div>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/f24b2303e7734e82852d9132ce604e25.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Mocha">
            Kim Kardashian Mocha Venti 24oz
            <span>Price: 4.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Oprah Winfrey Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>
    </div>

    <!-- scrolling anchor -->
    <a id="recent"></a>

    <div>
        <h>Recent Drinks</h>
        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Taylor Swift Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/f24b2303e7734e82852d9132ce604e25.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Mocha">
            Kim Kardashian Mocha Venti 24oz
            <span>Price: 4.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Oprah Winfrey Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>
    </div>

    <!-- scrolling anchor -->
    <a id="favorite"></a>

    <div>
        <h>Your Favorites</h>
        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Taylor Swift Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/f24b2303e7734e82852d9132ce604e25.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Mocha">
            Kim Kardashian Mocha Venti 24oz
            <span>Price: 4.65</span>
        </div>

        <div class=drink-item>
            <img src="https://globalassets.starbucks.com/assets/b635f407bbcd49e7b8dd9119ce33f76e.jpg?impolicy=1by1_wide_topcrop_630" alt="Starbucks Latte">
            Oprah Winfrey Latte Grande 16oz
            <span>Price: 3.65</span>
        </div>
    </div>

</div>
{% endblock %}