{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" 
        href="{{ url_for('static', filename='css/order.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{% endblock %}

{% block body %}

<header class=container>
    <h1>Your Saved Orders</h1>
</header>

<div class="savePage-container">


<div class="saved-item">
    <form method="post" id="cus-form">
        {% for order in orderList %}
            <h>{{order.name}}</h>
            <div class="actions">
                <form action="{{ url_for('addOrder') }} " id="addOrder-form" method="post">
                    <button type="submit" form="addOrder-form" name="orderId" value="{{order.name}}" class="button">Add To Cart</button>
                </form>
                    <button type="submit" form="cus-form" name="cus-form" value="{{order.name}}" class="button">Customize</button>
                <form action="{{ url_for('removeOrder') }}" id="removeOrder-form" method="post">
                    <button type="submit" form="removeOrder-form" name="orderId" value="{{order.name}}" class="button">Remove</button>
                </form>
            </div>
        {% endfor %}
    </form>


</div>

{% endblock %}