{% extends 'base.html' %}



<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>

{% block head %}
<link rel="stylesheet" 
        href="{{ url_for('static', filename='css/submit.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{% endblock %}

{% block body %}

<header class=container>
    <h1>Submit a Drink!</h1>
</header>

<div class=form-container>

    <form method="post">
        <label for="drinkName">Base Drink:</label><br>
        <select name = "drink">
            {% for i in range(3) %}
        <option value="{{ db.child("product_db").child((i + 1)).get().val()["id"] }}">
            {{ db.child("product_db").child((i + 1)).get().val()["name"] }}</option>
            {% endfor %}
                <option value="{{ db.child("product_db").child((39)).get().val()["id"] }}">
            {{ db.child("product_db").child((39)).get().val()["name"] }}</option>
        </select>
        <input type="submit" name= "DrinkButton" value="ChangeDrinkName">
    </form>

    <h1 style="text-align: center">{{ drink.val()['name'] }}</h1>
    <form method="post">

    <h1 style="text-align: center">Customizations</h1>
    <select style = "visibility: hidden" name = "drinkid"><option>{{ drink.val()['id'] }}</option></select>
    {% for j in custCat %}
        <h3>{{ j }}</h3>
        {% for key,val in custDict.items() %}
            {% if val == j %}
            <h5>{{ key }}</h5>
        {% for i in custRefs %}
            {% if i.val()["sub-category"]|string() == key|string() and i.val()["category"]|string() == j|string() %}
                <label > {{ i.val()["name"]}}:</label>
                    {% if  i.val()["opts"]|length == 1 %}
                    <input type="number" min="0" max ="10" name = {{ i.val()["id"] }}> {{ i.val()["opts"][0] }}
                     {% else %}
                <select name = {{ i.val()["id"] }}>
                <option></option>
                {% for k in i.val()["opts"] %}

                    <option> {{ k }}</option>
                    {% endfor %}
                 {% endif %}
                </select><br>
            {% endif %}
        {% endfor %}

            {%  endif %}
    {% endfor %}
    {% endfor %}
    <label>Your Drink Name</label>

    <input type="text" name="custDrinkName"><br>

    <input type="submit" name= "DrinkButton" value= "SubmitDrink">
    </form>
</div>

<div style="clear:both; margin: 3rem 0 0 -3rem; "></div>

{% endblock %}