{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" 
        href="{{ url_for('static', filename='css/submit.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{% endblock %}

{% block body %}

<header class=container>
    <h1>Submit a Drink!</h1>
</header>

<div class=form-container>
    <form method="post">
        <label for="drinkName">Base Drink:</label><br>
        <select name = "drink">
            {% for i in range(3) %}
        <option value="{{ db.child("product_db").child((i + 1)).get().val()["id"] }}">
            {{ db.child("product_db").child((i + 1)).get().val()["name"] }}</option>
            {% endfor %}
        </select>
            <h1>{{ drink.val()['name'] }}</h1>
        <input type="submit" value="Submit">
    </form>
    <form>

    <h2>Customizations</h2>
    {% for j in custCat %}
        <h3>{{ j }}</h3>
        {% for key,val in custDict.items() %}
            {% if val == j %}
            <h4>{{ key }}</h4>
        {% for i in custRefs %}
            {% if i.val()["sub-category"]|string() == key|string() and i.val()["category"]|string() == j|string() %}
                <label > {{ i.val()["name"]}}:</label>
                    {% if  i.val()["opts"]|length == 1 %}
                    <input type="number" min="0" max ="10"> {{ i.val()["opts"][0] }}
                     {% else %}
                <select>
                <option></option>
                {% for k in i.val()["opts"] %}

                    <option> {{ k }}</option>
                    {% endfor %}
                 {% endif %}
                </select><br>
            {% endif %}
        {% endfor %}

            {%  endif %}
    {% endfor %}
    {% endfor %}
    </form>
</div>


{% endblock %}