body{
    background-color: grey;
}

.order-container{
    padding: 20px;
    background-color:	#00704A;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.drinks-container{
    font-weight: bold;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black
}

.drinks-container > span{
    font-weight: normal;
    padding: 21px;
}

img{
    width:60px;
    height:60px;
    float: left;
}