.map-container{
    padding: 0px;
    background-color:	#f5f5f5;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.map-container > h1{
    font-size: 20px;
}

#map {
    min-height: 68vh;
    width: 100%;
  }

  body{
    background-color:#f5f5f5;
}

.subhead-container{
    font-weight: bold;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black
}

.subhead-container > span{
    font-weight: normal;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
