/* navigation bar */

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
