.container{
    padding: 5px;
    background-color:	#f5f5f5;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.form-container{
    padding: 20px;
    height: 80vh;
    width: 100vw;
}

body{
    background-color:#f5f5f5;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }