.container{
    padding: 5px;
    background-color:	#f5f5f5;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.form-container{
    padding: 20px;
    height: 150vh;
    width: 100vw;
}

body{
    background-color:#f5f5f5;
}

label {
    padding: 10px;
    display: inline-block;
  }

.actions{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 2px;
}

.actions > button{
    text-align: center;
    flex: 1 1 0px;
    color: black;
    font-size: 14px;
    text-decoration: none;
    padding: 2px;
    border: 0.5px;
    border-style: solid;
}

img{
    width:60px;
    height:60px;
    float: left;
}

.drink-item{
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.drink-item > span{
    font-weight: normal;
    padding: 10px;
}

.buttons{
    float: right;
    padding: 10px;
    border: none;
}