{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" 
        href="{{ url_for('static', filename='css/account.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{% endblock %}

{% block body %}

<header class=account-container>
    <h1>My Account</h1>
    <p>John Doe</p>
</header>

<div class="subhead-container">
    Profile
    <span>Personal Info & Security</span>
    <span>Payment</span>
    <span>Transaction History</span>
</div>

<div class="subhead-container">
    Notifications
    <span>Inbox Messages</span>
    <span>Receipts</span>
    </div>

<div class="subhead-container">
    About
    <span>Help</span>
    <span>Starbucks Policies</span>
    <span>App Developers</span>
</div>

{% endblock %}